@import "tailwindcss";

:root {
  --background: #191A19;
  --foreground: #191A19;
}

@theme {
  --color-dark-grey: #191A19;
  --color-primary-orange: #F26529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191A19;
    --foreground: #191A19;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}
/* Esconder a barra de rolagem */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}

/* Melhorar a experiência de arrastar */
.cursor-grab:active {
    cursor: grabbing;
}

/* Transições suaves */
.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

