@import "tailwindcss";

:root {
  --background: -white;
  --foreground: white;
}

@theme {
  --color-dark-grey: #32312F;
  --color-primary-orange: #F26529;
}

body {
  color: var(--background);
  font-family: var(--font-space-grotesk), sans-serif;
  background: var(--background)
}

.home-background {
  position: relative;
  z-index: 0;
  background-color: var(--background);
}

/* Camada com o SVG esmaecido */
.home-background::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/background.svg') no-repeat fixed center;
  background-size: cover;
  opacity: 0.15;
  z-index: -1;
  pointer-events: none;
}

.text-soft-shadow {
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 1);
}
.title-soft-shadow {
  text-shadow: 3px 5px 12px rgba(0, 0, 0, 0.5);
}



@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Prevent content selection during dragging */
  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Carousel specific styles */
  .carousel-container {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: auto; /* ← permite scroll vertical e horizontal normalmente */
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  
  
}