@import "tailwindcss";

:root {
  --background: #191A19;
  --foreground: #191A19;
}

@theme {
  --color-dark-grey: #191A19;
  --color-primary-orange: #F26529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191A19;
    --foreground: #191A19;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
  background: var(--background)
}

.home-background {
  background: var(--background) url('/background.svg') no-repeat fixed center;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Prevent content selection during dragging */
  .select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Carousel specific styles */
  .carousel-container {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: auto; /* ← permite scroll vertical e horizontal normalmente */
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  
  
}